@model StudentDto

<form method="post" action="/Student/AddStudent">
    <div class="mb-3">
        <label for="name" class="form-label">Öğrenci Adı</label>
        <input type="text" class="form-control" id="name" name="Name" value="@Model?.Name" required>
    </div>
    <div class="mb-3">
        <label for="personalDetail" class="form-label">Kişisel Bilgi</label>
        <input type="text" class="form-control" id="personalDetail" name="PersonalDetail" value="@Model?.PersonalDetail">
    </div>
    <div class="mb-3">
        <label for="educationDetail" class="form-label">Eğitim Bilgisi</label>
        <input type="text" class="form-control" id="educationDetail" name="EducationDetail" value="@Model?.EducationDetail">
    </div>
    <div class="mb-3">
        <label for="feesDetail" class="form-label">Ücret Bilgisi</label>
        <input type="text" class="form-control" id="feesDetail" name="FeesDetail" value="@Model?.FeesDetail">
    </div>

    <div class="mb-3">
        <label for="courseID" class="form-label">Kurs Seçin</label>
        <select class="form-control" id="courseID" name="CourseID">
            @if (ViewBag.Courses != null)
            {
                @foreach (var course in ViewBag.Courses)
                {
                    if (course.CourseID == Model?.CourseID)
                    {
                        <option value="@course.CourseID" selected="selected">@course.CourseName</option>
                    }
                    else
                    {
                        <option value="@course.CourseID">@course.CourseName</option>
                    }
                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success">Ekle</button>
    <a href="/Student/Students" class="btn btn-primary">Öğrenci Listesi</a>
</form>
