@model StudentDto

<form method="post" action="/Student/AddStudent">
    <div class="mb-3">
        <label for="name" class="form-label">Öğrenci Adı</label>
        <input type="text" class="form-control" id="name" name="Name" value="@Model?.Name" required>
    </div>
    <div class="mb-3">
        <label for="personalDetail" class="form-label">Kişisel Bilgi</label>
        <input type="text" class="form-control" id="personalDetail" name="PersonalDetail" value="@Model?.PersonalDetail">
    </div>
    <div class="mb-3">
        <label for="educationDetail" class="form-label">Eğitim Bilgisi</label>
        <input type="text" class="form-control" id="educationDetail" name="EducationDetail" value="@Model?.EducationDetail">
    </div>
    <div class="mb-3">
        <label for="feesDetail" class="form-label">Ücret Bilgisi</label>
        <div class="input-group">
            <input type="text" class="form-control" id="feesDetail" name="FeesDetail" value="@Model?.FeesDetail" readonly>
            <span class="input-group-text">₺</span>
        </div>
    </div>

    <div class="mb-3">
        <label for="courseID" class="form-label">Kurs Seçin</label>
        <select class="form-control" id="courseID" name="CourseID" onchange="updateFees()">
            @if (ViewBag.Courses != null)
            {
                @foreach (var course in ViewBag.Courses)
                {
                    <option value="@course.CourseID" data-fees="@course.Fees">@course.CourseName</option>
                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success">Ekle</button>
    <a href="/Student/Students" class="btn btn-primary">Öğrenci Listesi</a>
</form>

<script>
    function updateFees() {
        var selectElement = document.getElementById("courseID");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var fees = selectedOption.getAttribute("data-fees");

        document.getElementById("feesDetail").value = fees;
    }

    window.onload = function () {
        updateFees();
    }
</script>
